h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  width: 640px;
  margin: 0 auto;
  background-image: linear-gradient(grey, rgb(50, 50, 50));
}

.container{
 
 width: 100vw;
 height: 100vh;
 margin: 0 auto;
 width: 640px;
  
}
.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
  border-top-right-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(218, 186, 164, 0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  block-size: 50px;
  inline-size: 81px;
  top: 5px;
  left: 5px;
  font-size: 1rem;
  letter-spacing: .03rem;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}